.bg-theme{
  background-color: #BB2CD9;
}

.cart-icon{
  font-size: 1.6rem;
}

.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.about-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.btn-warning{
  padding: 8px 35px;
}